*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	background-color: #1A5B35;
	font-family: 'Poppins', sans-serif;
}

.main{
	min-height: 1024px;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}

.main-wrapper{
	position: relative;
	width: 665px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.main-wrapper-title{
	margin-bottom: 11px;
	font-family: 'Comforter Brush', cursive;
	font-style: normal;
	font-weight: 400;
	font-size: 72px;
	line-height: 115px;
	display: flex;
	align-items: center;
	text-align: center;

	background: linear-gradient(180deg, #CEB076 0%, #D6BD84 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-clip: text;
	text-fill-color: transparent;
}

.main-wrapper-text{
	font-family: 'Poppins', sans-serif;
	font-weight: 100;
	font-size: 18px;
	line-height: 28px;
	display: flex;
	align-items: center;
	text-align: center;

	color: #FFFFFF;
	margin-bottom: 30px;
}

.main-wrapper-company{
	font-family: 'Poppins', sans-serif;
	font-weight: 200;
	font-size: 25px;
	line-height: 28px;
	display: flex;
	align-items: center;
	text-align: center;
	color: #FFFFFF;
}

.main-logo{
	position: absolute;
	bottom: 115px;
	left: 50%;
	transform: translateX(-50%);
}

.main-top_right{
	position: absolute;
	top: 0;
	right: 0;
}

.main-top_left{
	position: absolute;
	top: 32px;
	left: 0;
}

.main-center{
	position: absolute;
	right: 79px;
	bottom: -39px;
}

.main-bottom_left{
	position: absolute;
	left: 0;
	bottom: 0;
}

.main-music{
	position: absolute;
	bottom: 75px;
	left: 15px;
}

.main-music-mobile{
	display: none;
}

/*@media (min-width: 992px){
	.main{
		min-height: 1024px;
		display: flex;
		justify-content: center;
		align-items: center;
		position: relative;
	}

	.main-wrapper{
		position: relative;
		width: 665px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

	.main-wrapper-title{
		margin-bottom: 11px;
		font-family: 'Comforter Brush', cursive;
		font-style: normal;
		font-weight: 400;
		font-size: 72px;
		line-height: 115px;
		display: flex;
		align-items: center;
		text-align: center;

		background: linear-gradient(180deg, #CEB076 0%, #D6BD84 100%);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-clip: text;
		text-fill-color: transparent;
	}

	.main-wrapper-text{
		font-family: 'Poppins', sans-serif;
		font-weight: 100;
		font-size: 18px;
		line-height: 28px;
		display: flex;
		align-items: center;
		text-align: center;

		color: #FFFFFF;
		margin-bottom: 30px;
	}

	.main-wrapper-company{
		font-family: 'Poppins', sans-serif;
		font-weight: 200;
		font-size: 25px;
		line-height: 28px;
		display: flex;
		align-items: center;
		text-align: center;
		color: #FFFFFF;
	}

	.main-logo{
		position: absolute;
		bottom: 115px;
		left: 50%;
		transform: translateX(-50%);
	}

	.main-top_right{
		position: absolute;
		top: 0;
		right: 0;
	}

	.main-top_left{
		position: absolute;
		top: 32px;
		left: 0;
	}

	.main-center{
		position: absolute;
		right: 79px;
		bottom: -39px;
	}

	.main-bottom_left{
		position: absolute;
		left: 0;
		bottom: 0;
	}

	.main-music{
		position: absolute;
		bottom: 75px;
		left: 15px;
	}

	.main-music-mobile{
	display: none;
	}
}*/

@media (max-width: 768px){
	.main{
		min-height: 783px;
		padding-top: 60px;
	}

	.main-wrapper{
		min-width: 90%;
		margin: 0 20px;
		margin-bottom: 140px;
	}

	.main-wrapper-title{
		font-size: 52px;
		margin-top: 80px
	}

	.main-wrapper-company{
		font-size: 22px
	}

	.main-wrapper-text{
		font-size: 16px
	}

	.main-logo{
		bottom: 40px;
	}

	.main-top_right{
		display: none;
	}

	.main-bottom_left{
		display: none;
	}

	.main-top_left{
		left: 0;
		top: 10px;
	}

	.main-top_left img{
		width: 97px;
	}

	.main-center{
		right: 0;
	}

	.main-music{
		display: none;
	}

	.main-music-mobile{
		font-style: normal;
		font-weight: 400;
		font-size: 12px;
		line-height: 11px;

		display: flex;
		align-items: center;
		text-align: center;

		color: #FFFFFF;
		position: absolute;
		top: 25px;
		right: 25px;
		width: 58px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: 8px;
	}
}